@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "New Frank";
    font-style: normal;
    font-weight: 100; /* Thin */
    font-display: swap;
    src: url("./assets/fonts/NewFrankThin.otf") format("woff2");
  }
  @font-face {
    font-family: "New Frank";
    font-style: normal;
    font-weight: 300; /* Light */
    font-display: swap;
    src: url("./assets/fonts/NewFrankLight.otf") format("woff2");
  }
  @font-face {
    font-family: "New Frank";
    font-style: normal;
    font-weight: 400; /* Regular */
    font-display: swap;
    src: url("./assets/fonts/NewFrankRegular.otf") format("woff2");
  }
  @font-face {
    font-family: "New Frank";
    font-style: normal;
    font-weight: 500; /* Medium */
    font-display: swap;
    src: url("./assets/fonts/NewFrankMedium.otf") format("woff2");
  }
  @font-face {
    font-family: "New Frank";
    font-style: normal;
    font-weight: 700; /* Bold */
    font-display: swap;
    src: url("./assets/fonts/NewFrankBold.otf") format("woff2");
  }
  @font-face {
    font-family: "New Frank";
    font-style: normal;
    font-weight: 800; /* Extra Bold */
    font-display: swap;
    src: url("./assets/fonts/NewFrankExtraBold.otf") format("woff2");
  }
}
